.topbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px; 
    right: 25px;
}

.topbarElem{       
    outline: none;                            
    margin: 0 0 0 20px;
    cursor: pointer;
}

.topbarElem i{
    color: var(--textcolor);
    font-size: 22px;
    text-shadow: 0 2px 2px var(--shadowcolor);
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.topbarElem:hover i{
    opacity:1;
}

.topbarAudio i{
    font-size: 26px;
}

/* when audio is disabled */

.topbarAudio.disabled i{
    font-size: 26px;
    opacity: 0.2;
}

.topbarAudio.disabled:hover i{
    opacity:0.2;
}

.topbarAudio.disabled.tapped {
    animation: disableFlashMovement 0.2s ease-out;
    will-change: transform;
}

.topbarAudio.disabled.tapped  i{
    animation: disableFlashColor 0.15s ease-out;
    will-change: opacity;
}

@keyframes disableFlashMovement {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-2px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes disableFlashColor {
    0% {
        opacity: 0.5;
        color: red;
    }
    100% {
        opacity: 0.2;
        color: inherit
    }
}

@media only screen and (max-width: 768px) {
    .topbarElem i{
        font-size: 18px;
    }

    .topbarAudio i{
        font-size: 22px;
    }

    .topbarElem{
        margin: 0 0 0 15px;
        cursor: pointer;
    }
    .topbarContainer {
        top: 15px; 
        right: 20px;
    }
}