.topbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px; 
    right: 25px;
}

.topbarElem{
    margin: 0 0 0 20px;
    cursor: pointer;
}

.topbarElem i{
    color: var(--textcolor);
    font-size: 22px;
    text-shadow: 0 2px 2px var(--shadowcolor);
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

.topbarElem:hover i{
    opacity:1;
}

.topbarAudio i{
    font-size: 26px;
}

@media only screen and (max-width: 768px) {
    .topbarElem i{
        font-size: 18px;
    }

    .topbarAudio i{
        font-size: 22px;
    }

    .topbarElem{
        margin: 0 0 0 15px;
        cursor: pointer;
    }
    .topbarContainer {
        top: 15px; 
        right: 20px;
    }
}