:root {
  --font: 'Kulim Park', sans-serif;
  --bgcolor: #F4FFFA;
  --bgcolor2: #ECFBF5;
  --textcolor: #090308;
  --accentcolor: #354EED;
  --shadowcolor: #09030859;
  --shadowcolor2: #09030823;
}

html {
  overflow: hidden;
  font-family: var(--font);
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}