:root {
  --font: 'Kulim Park', sans-serif;
  --bgcolor: #F4FFFA;
  --bgcolor2: #ECFBF5;
  --textcolor: #090308;
  --accentcolor: #354EED;
  --shadowcolor: #09030859;
  --shadowcolor2: #09030823;
  --shadowcolor3: #0903084b;
  --bgbarcolor: rgba(0, 0, 0, 0.015);
}

body.dark {
  --bgcolor: #191a19;
  --bgcolor2: #111111;
  --textcolor: #F4FFFA;
  --accentcolor: #6C7FFF;
  --shadowcolor: #cfcfcf44;
  --shadowcolor2: #d6d6d60e;
  --shadowcolor3: #dbdbdb28;
  --bgbarcolor: rgba(255, 255, 255, 0.009);
}

html {
  overflow: hidden;
  font-family: var(--font);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bgcolor);
}

/* color gradual switch when changing modes */
body, .mainContainer, h1, h2, h3, p, i{
  transition: background-color 0.6s ease, color 0.3s ease, text-shadow 0.3s ease, box-shadow 0.3s ease;
}

/* mobile responsiveness, don't hightlight things on tap */

* {
  -webkit-tap-highlight-color: transparent;
}